.quoteBtn {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-family: inherit;

    fa-icon{
      padding-right: 10px;
    }
  
    &:hover {
      background-color: white;
    
  }
}
