.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

.container {
  width: 600px;
  margin: 30px auto;
  overflow: auto;
  height: 450px;
  border: 1px solid #0033a094;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-layout {
  flex-direction: row-reverse;
}

.right-layout {
  flex-direction: row;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.loading {
  .donut {
    animation: spin 3s linear infinite;
  }
  @keyframes spin {
    100% {
      transform: rotate(-360deg);
    }
  }
}
