<div class="content">
  <div class="flex" *ngFor="let quote of fetchedApiRes; index as i">
    <div
      class="container"
      [ngClass]="{
        'left-layout': quote.characterDirection === layoutDirection.Left,
        'right-layout': quote.characterDirection === layoutDirection.Right
      }"
    >
      <div class="quoteContainer">
        <p>"{{ quote.quote }}"</p>
        <br />
        <i>- {{ quote.character }}</i>
      </div>

      <img [src]="quote.image" />
    </div>
  </div>
</div>
