<div class="content">
  <div
    class="container"
    *ngIf="quote && !isLoading"
    [ngClass]="{
      'left-layout': quote.characterDirection === 'Left',
      'right-layout': quote.characterDirection === 'Right'
    }"
  >
    <div class="quoteContainer">
      <p>"{{ quote.quote }}"</p>
      <br />
      <i>- {{ quote.character }}</i>
    </div>

    <img [src]="quote.image" />
  </div>

  <div class="container loading" *ngIf="isLoading">
    <div class="quoteContainer">
      <img src="assets/donut.svg" alt="Icon" class="donut" />

      <p>Loading...</p>
    </div>
  </div>
</div>
